input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }

    mouse {
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="0%"
}

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24
}
